.header{
  font-family: var(--font-catamaran);
  font-size: 32px;
  line-height: 171.5%;
  color: #00005c ;
  /* text-align: center; */
}

.inputHolder{
    

}

.uploadInput{
    

}

.uploadImage{
   

}
