.board{
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: auto;
  margin: 0rem auto;
  
}

.board img{
  
  width: 150px;
  height: 150px;
}

.turns{
  display: flex;
  font-size: 2rem;
  /* margin:0 auto; */
}

.turns2{
  color: blue;
}

.suc{
  
  font-size: 2rem; 
  margin: 3rem auto;
  display: block;
  color: rgb(246, 124, 124);
  text-align: center;
  background: url("./success_icon_194168.png") no-repeat center / contain ; 
  
}

.certP{
  display: flex;
  align-items: center; 
  justify-content: center; 
  /* height: 80%;  */
}


