.app {
  background-color: #223061;
  /* width: 1050px; */
  width:1448px;
  height: auto;
  border-radius: 15px;
  padding: 50px;
  color: #b0b1ed;
  margin: 0 auto;
}

.startPage{
  width: 1440px;
  height: 1000px;
  /* background-color: #2b3e80; */
  color: #f9ea0d;
  font-size: 4rem;
  font-weight: bold;
  display: block;
  margin: 2rem auto;
  background: url("./images/img001.png") no-repeat center / cover; 
  border-radius: 15px;
  padding: 80px;
}

.startPage2{
  width: 1440px;
  height: 1000px;
  /* background-color: #2b3e80; */
  color: #f9ea0d;
  font-size: 4rem;
  font-weight: bold;
  display: block;
  margin: 2rem auto;
  background: url("./images2/img00.png") no-repeat center / cover; 
  border-radius: 15px;
  padding: 80px;
}

.startBtn{
  width: 500px;
  padding: 1rem;
  border-radius: 25px;
  cursor: pointer;
  background-color: #2b3e80;
  color: #b0b1ed;
  font-size: 6rem;
  font-weight: bold;
  display: block;
  margin: 2rem auto
}

.QuizType{
  display: flex;
  font-size: 3rem;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  color: #6e70ee;
}

.QuizTypeBtn{
  width: 500px;
  padding: 1rem;
  border-radius: 25px;
  cursor: pointer;
  background-color: #2b3e80;
  color: #b0b1ed;
  font-size: 2rem;
  font-weight: bold;
  display: block;
  margin: 2rem auto
}

.playAgain{
  width: 300px;
  padding: 1rem;
  border-radius: 25px;
  cursor: pointer;
  background-color: #2b3e80;
  color: #b0b1ed;
  font-size: 3rem;
  font-weight: bold;
  display: block;
  margin: 2rem auto
}


.completedNotice{
  display: flex;
  font-size: 8rem;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  color: #b0b1ed;
}

.scoresection {
  display: flex;
  font-size: 6rem;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.questionsection {
  width: 100%;
  font-size: 50px;

}

.questionImg{
  display: block;
  margin: 0 auto;
  width: 1440px;
}

.questioncount {
  margin-bottom: 5px;
  
}

.questioncount span {
  font-size: 55px;
}

.questiontext {
  margin-bottom: 30px;
}

.nextQbutton
{
  width: 180px;
  font-size: 3rem;
  color: #ffffff;
  background-color: #012345;
  border-radius: 25px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border: 10px solid  #2b3e80;
  cursor: pointer;
  margin: 2rem auto;
}

.answerImg{
  display: block;
  margin: 0 auto;
  padding: 30px;
  width:500px;
}

.answersection {
  width: 100%;
  display: flex;
}

.answerstatus{
  /* width: 100%;
  display: flex; */
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.answersection button {
  width: 100%;
  color: #ffffff;
  background-color: #bfc6e2;
  padding: 70px;
  align-items: center;
  border: 30px solid #012345;
}

.answersection button:hover {
  background-color: #555e7d;
}

.answersection button:focus {
  outline:#4569ee;
  background-color: #e4d355;
}

/* .answer.section button:active {
  border: 1px solid #eda0a0;
  box-shadow: 0 0 5px #ea7373;
} */

.answersection button svg {
  margin-right: 5px;
}


.correct  {
  background-color: #2f922f;
  color: white;
  margin: 2rem auto;
  font-size: 3rem;
}

.incorrect  {
  background-color: #f30707;
  color: white;
  margin: 2rem auto;
  font-size: 3rem;
}

/* .answerText{
  color: rgb(67, 100, 231);
  font-size: 3rem;
} */