.app {
  background-color: #223061;
  /* width: 1050px; */
  width:1448px;
  height: auto;
  border-radius: 15px;
  padding: 50px;
  color: #b0b1ed;
  margin: 0 auto;
}

.scoresection {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.questionsection {
  width: 100%;
  font-size: 50px;

}

.questionImg{
  display: block;
  margin: 0 auto;
}

.questioncount {
  margin-bottom: 50px;
}

.questioncount span {
  font-size: 55px;
}

.questiontext {
  margin-bottom: 30px;
}

.answersection {
  width: 100%;
  display: flex;
}

.answerstatus{
  /* width: 100%;
  display: flex; */
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.answersection button {
  width: 100%;
  color: #ffffff;
  background-color: #bfc6e2;
  padding: 70px;
  align-items: center;
  border: 30px solid #012345;
}

.answersection button:hover {
  background-color: #555e7d;
}

.answersection button:focus {
  outline:#4569ee;
  background-color: #e5bcbc;
}

.answer.section button:active {
  border: 1px solid #eda0a0;
  box-shadow: 0 0 5px #ea7373;
}

.answersection button svg {
  margin-right: 5px;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

