app {
  background-color: #223061;
  /* width: 1050px; */
  /* width:1448px; */
  width: auto;
  height: auto;
  border-radius: 15px;
  padding: 50px;
  color: #b0b1ed;
  margin: 0 auto;
}

.startPage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: center;
  height: 580px;
  width: 640px; */
  align-items: flex-end;
  height: 80vh;
  width: 70rem;
  
  background: url("./images/page1.png") no-repeat center / cover;
}

.startPage3 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 80vh;
  width: 70rem;
  background: url("./images3/meet-Delfina.jpeg") no-repeat center / cover;
}

/* @media screen and (max-width: 768px) {
  .startPageText1 {
    font-size: 0.8rem;
    margin: 0 2px 11rem 2px;
  }
} */
.startPageText1 {
  color: #ddeaf5;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1rem;
  margin: 0 40rem 11rem 5rem;
  /* margin: 0 10% 10% 5%; */
}

.startPageText2 {
  color: rgb(232, 170, 27);
  position: absolute;
  right: 15px;
  bottom: 45px;
  font-size: 2rem;
  font-weight: 800;
  border-bottom: 4px solid  rgb(232, 170, 27);
}

.startBtn {
  color: #f9f9fb;
  /* margin-top: auto; */
  font-size: 2rem;
  background-color: #055ba1;
  width: 10rem;
  height: 3rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin:0 auto;
}

/* .rightBottom {
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 0.2rem;
} */

.startBtn:hover {
  background-color: #3b9cec;
}

.QuizType {
  display: flex;
  font-size: 3rem;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  color: #2f3084;
}

.QuizTypeBtn {
  width: 500px;
  padding: 1rem;
  border-radius: 25px;
  cursor: pointer;
  background-color: #2b3e80;
  color: #b0b1ed;
  font-size: 2rem;
  font-weight: bold;
  display: block;
  margin: 2rem auto;
}

/* QUESTION/TIMER/LEFT SECTION */
.questionsection {
  font-size: 3rem;
  background-color: #d9d9d9;
  width: 40rem;
  height: auto;
  border-radius: 25px;
  margin: 7rem auto auto 5rem;
}

.questionImg {
  margin: 0 0 0 2rem;
  width: 15rem;
  /* float: right; */
}

.questioncount {
  margin-bottom: 5px;
}

.questioncount span {
  font-size: 45px;
}

.questiontext {
  font-size: 2rem;
  /* text-align: justify;
  text-align: center; */
  margin: 3rem 8rem 3rem 5rem;
}

.questionAndAnswer {
  display: flex;
  flex-direction: row;
}

.answerImgAndABC {
  display: flex;
  flex-direction: row;
}

.answerImg {
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column;
  width: 50%;
  height: 50%;
  margin: auto 10rem auto 10rem; */

  width: 20rem;
  height: 15rem;
  /* max-width: 90%;
  max-height: 90%; */
  /* object-fit: contain; */
  margin: 1rem auto;
}

.quizIntroPic {
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column;
  width: 50%;
  height: 50%;
  margin: auto 10rem auto 10rem; */

  width: 100%;
  height: 15rem;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  margin: auto;
  border-radius: 45px;
}

.answersectionSub {
  display: flex;
  width: 50%;
  height: 100%;
  background-color: #92d5fd;
  border-radius: 25px;
  margin: 0 0 5rem 0;

  /* font-size: 3rem;
  background-color:#D9D9D9;
  width: 50%;
  height: auto;
  border-radius: 25px;
  margin: 5rem auto auto 5rem; */
}

.answersection {
  display: flex;
  width: 50%;
  height: 50%;
  height: auto;
  flex: 5;
  background-color: #92d5fd;
  border-radius: 25px;
  margin: 0 5rem auto 0;
  flex-direction: column;
}

.answersection button {
  width: 21.5rem;
  /* background-color: #2d3a6d; */
  /* padding: 10px; */
  /* align-items: center; */
  /* margin: 2rem 2rem 2rem 2rem; */
  margin: 0 auto;
}

.answerOptionsABC {
  font-weight: bold;
  display: block;
  /* margin: 0 5rem 0 0; */
}

.answersection button:hover {
  background-color: #99aef8;
}

.answersection button:focus {
  background-color: #99aef8;
}

/* .answersection button svg {
  margin-right: 100px;
} */

.CA {
  background-color: #223061;
}

.correct1 {
  background-color: #2f922f;
  color: white;
  margin: 1rem auto;
  font-size: 1rem;
  display: inline-block;
}

.incorrect1 {
  background-color: #f30707;
  color: white;
  margin: 0 auto;
  font-size: 1rem;
  margin: 1rem auto;
  display: inline-block;
}

.correct {
  background-color: #2f922f;
  color: white;
  margin: -22rem 0 1rem -0rem;
  font-size: 1rem;
  float: right;
  width: 40rem;
  height: 20rem;
}

.incorrect {
  background-color: #ee0c0c;
  color: white;
  margin: -22rem 0 1rem -0rem;
  font-size: 1rem;
  float: right;
  width: 40rem;
  height: 20rem;
}

.hookbutton {
  /* position: absolute;
  top: 30px;
  left: 30px; */
  /* background-color: #0b7dda;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  margin: 0rem auto; */

  width: 500px;
  padding: 1rem;
  border-radius: 25px;
  cursor: pointer;
  /* background-color: #0b7dda;
  color: white; */
  background-color: #3a53ae;
  color: #b0b1ed;
  font-size: 2rem;
  font-weight: bold;
  display: block;
  margin: 2rem auto;
}

.hookbutton:hover {
  background-color: #074375;
}

.quiz1Btn {
  /* background-color: #3a53ae; */
  margin: 0 auto;
  /* width: 10%; */
  padding: 1rem;

  cursor: pointer;
}

.quiz1Btn:hover {
  background-color: #efaf23;
  border-radius: 5px;
}

.questionanswertext {
  /* margin-bottom: 10rem; */
  font-size: 1rem;
  float: left;
}

.questionfeedbacksection {
  width: 40%;
  display: flex;
  margin: -3rem 0 0 0;
  float: right;
}

.feedbacksection4Q2 {
  width: 40%;
  display: flex;
  margin: 2rem 8rem 0 0;
  float: right;
}

.nextQbutton {
  color: #f9f9fb;
  margin-top: auto;
  font-size: 2rem;
  background-color: #074375;
  width: 10rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  justify-content: center;
  /* align-items: center; */
  display: flex;
  margin: 1rem auto;
}

.nextQbutton:hover {
  background-color: #3b9cec;
}

.playAgain {
  width: 300px;
  padding: 1rem;
  border-radius: 25px;
  cursor: pointer;
  background-color: #2b3e80;
  color: #b0b1ed;
  font-size: 3rem;
  font-weight: bold;
  display: block;
  margin: 2rem auto;
}

.scoresection {
  display: flex;
  font-size: 6rem;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.gradefeedbackmessage {
  margin: 2rem auto;
  font-size: 3rem;
  text-align: center;
}

.QuizTypeBtn1 {
  background-image: url("./images/quiz1Button.jpg");
  background-size: cover;
}

.finishPage {
  background-color: #ea7a03;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  border-radius: 50px;
  width: 15rem;
}

.hookbutton1 {
  /* position: absolute;
  top: 30px;
  left: 30px; */
  /* background-color: #0b7dda;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  margin: 0rem auto; */

  width: 250px;
  padding: 1rem;
  border-radius: 15px;
  cursor: pointer;
  /* background-color: #0b7dda;
  color: white; */
  background-color: #5ab0f6;
  color: #e8e8f5;
  font-size: 1rem;
  font-weight: bold;
  display: block;
  margin: 2rem auto;
}

.hookbutton1:hover {
  background-color: #3391ff;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  margin: 10rem auto;
}

.board img {
  width: 100px;
  height: 100px;
}

.quizBg {
  background-color: #ffffff;
}

.chatbox {
  position: relative;
  /* width: 300px;
  height: 400px; */
  background-image: url("./images/chatbox.png");
  background-size: cover;
  color: white;
  font-size: 10px;
  /* font-family: sans-serif; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 40rem;
}

.chatbox_message {
  max-width: 80%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
}


.end1{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 80vh;
  width: 70rem;
  background: url("./images1/end1.jpeg") no-repeat center / cover;
}

.end1Text {
  color: rgb(213, 234, 56);
  position: absolute;
  right: 15px;
  top: 4px;
  font-size: 2rem;
  font-weight: 800;
  /* border-bottom: 4px solid  rgb(232, 170, 27); */
}