.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 116px;
  color: var(--primary-color);
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 40px;
  font-weight: 600;
  font-size: 28px;
}

.logo img {
  margin-left: 3px;
}

.menu {
  font-weight: 600;
  font-size: 18px;
}
.menu a + a {
  margin-left: 42px;
}
.menu a {
    padding: 5px 16px;
}
.menu a.active {
  background: #f7f6fe;
  border: 3px solid #ffb347;
  border-radius: 15px;
}
