.container {
  width: 1440px;
  height: 868px;
  background: url("./images/game.png") no-repeat center / contain; 
  position: relative;
  margin: 0 auto;
}

.rope {
  background: url("./images/ropetile22.png") repeat;
  height: 5px;
  transform-origin: 0 50%;
  position: absolute;
  top: 160px;
  left: 700px;
}

.hook {
  width: 50px;
  height: 60px;
  transform: rotate(-90deg);
  position: absolute;
  top: -28px;
  right: -55px;
}

.bottleLayer {
  position: relative;
}

.bottle {
  position: absolute;
  object-fit: contain;
}

.hookbutton {
  background-color: #0b7dda;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
}

.hookbutton:hover {
  background-color: #074375;
}
